<h3>Contact us</h3>


<!-- <p>PE TAB</p> -->
<!-- pe + tab => lets you see the ruby code -->
<%#= Time.now %>


<!-- <p>ER TAB</p> -->
<!-- er + tab => no ruby code -->
<%# Time.now %>


<ul>
  <% @teachers.each do |member| %>
    <li><%= member %></li>
  <% end %>
</ul>
